@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-icon {
  @apply cursor-pointer fill-gray-500 transition-colors duration-300 hover:fill-main;
}

@layer base {
  :root {
    --main: 42 85% 63%;

    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    /* --primary: 220.9 39.3% 11%; */
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    --primary-950: 166 91% 9%;
    --surface-950: 240 10% 4%;

    --primary-50: 35 100% 98%;
    --primary-100: 38 93% 88%;
    --primary-200: 37 93% 79%;
    --primary-300: 38 92% 69%;
    --primary-400: 38 92% 60%;
    --primary-500: 38 92% 50%;
    --primary-600: 38 92% 43%;
    --primary-700: 38 91% 35%;
    --primary-800: 38 91% 28%;
    --primary-900: 38 92% 20%;

    --surface-0: 0 0% 100%;
    --surface-50: 210 20% 98%;
    --surface-100: 220 14% 96%;
    --surface-200: 220 13% 91%;
    --surface-300: 216 12% 84%;
    --surface-400: 218 11% 65%;
    --surface-500: 220 9% 46%;
    --surface-600: 215 14% 34%;
    --surface-700: 217 19% 27%;
    --surface-800: 215 28% 17%;
    --surface-900: 221 39% 11%;

    --primary: var(--primary-500);
    --primary-inverse: var(--surface-0);
    --primary-hover: var(--primary-600);
    --primary-active-color: var(--primary-600);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--primary-700);
    --primary-highlight-hover-opacity: 0.2;
  }

  .dark {
    --main: 42 85% 63%;

    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;

    /* --primary: 210 20% 98%; */
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: 216 12.2% 83.9%;

    --primary: var(--primary-400);
    --primary-inverse: var(--surface-900);
    --primary-hover: var(--primary-300);
    --primary-active-color: var(--primary-300);

    --primary-highlight-opacity: 0.2;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.3;
  }
  .customized-primary {
    &:not(.dark) {
      --primary: var(--primary-950);
      --primary-inverse: var(--surface-0);
      --primary-hover: var(--primary-800);
      --primary-active-color: var(--primary-900);

      --primary-highlight-opacity: 1;
      --primary-highlight-inverse: var(--surface-0);
      --primary-highlight-hover-opacity: 0.8;
    }
    &.dark {
      --primary: var(--primary-50);
      --primary-inverse: var(--surface-950);
      --primary-hover: var(--primary-100);
      --primary-active-color: var(--primary-100);

      --primary-highlight-opacity: 0.1;
      --primary-highlight-inverse: var(--surface-0);
      --primary-highlight-hover-opacity: 0.2;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
